<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ClassChat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IphoneClassChat</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="container">
  <div>
    <ion-list>
      <ion-item *ngFor="let message of messages" class="row">
        <div>
          <div class="col-2">
            {{message.user}}
          </div>
          <div class="col-10">
            {{message.content}}
            {{message.time}}
            <div *ngIf="message.user=userName"></div>
            <ion-button shape="round" (click)="editMessage()">Edit</ion-button>
            <ion-button shape="round" (click)="deleteMessage()">Delete</ion-button>
          </div>
          <br>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-textarea [(ngModel)]="newMessage" labelPlacement="floating" value="Bakxtale taves">
          <div slot="label">Message<ion-text color="danger">(Required)</ion-text></div>
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button shape="round" (click)="addMessage()">Send</ion-button>
  </div>
</div>
</ion-content>